---
import { Form } from "../../astro-form";
import Layout from "../layouts/Base.astro";

import { todos, addTodo, deleteTodo } from "../todos";

const addItem = ({ title }: { title: string }) => addTodo(title);
const deleteItem = ({ id }: { id: string }) => deleteTodo(id);
---

<Layout>
  <Form server:validate action={addItem}>
    <div class="add">
      <input type="text" name="title" required />
      <input type="submit" value="Submit" />
    </div>
  </Form>

  <ul>
    {
      todos.map((todo) => (
        <li>
          <Form method="delete" action={deleteItem}>
            <input type="text" name="id" value={todo.id} hidden />
            <input type="submit" value="-" />
          </Form>
          {todo.title}
        </li>
      ))
    }
  </ul>
</Layout>
